# MySQL Root Passord
DB_ROOT_PASSWORD=ditt_sterke_passord_her
# Krypteringsnøkkel Konfigurasjon
# Generer med: openssl rand -base64 32 (Linux/macOS/WSL)
MESSAGE_ENCRYPTION_KEY=din_base64_krypteringsnøkkel_her
# Cloudflare tunnel Token for utvikling
# Path: Protect & Connect > Networking > Tunnels > Create a Tunnel
# Velg Subdomain, Domain og Type: HTTP, URL: http://host.docker.internal:8001
CLOUDFLARE_TUNNEL_TOKEN=din_cloudflare_tunnel_token_her